* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(59, 124, 199, 0.7); /* Shadow effect */
}

body {
    font-family: Arial, sans-serif;
}

.noHorizontalScroll {
    overflow-x: hidden;
}

header {
    background-color: #000;
    padding: 10px 0;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: left;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    justify-content: space-evenly;
}

.navbar a:hover {
    background: linear-gradient(180deg, #000000, #000000, #000,  #111, #222, #444,#888, #ffffff);
}

.navbar .active {
    background: linear-gradient(180deg, #000000, #000000, #000,  #111, #222, #444,#888, #ffffff);
}

.section {
    padding: 50px;
    text-align: center;
}

.search-textbox {
    position: absolute;
    top: 164px;
    right: calc(14.7vw + 70px);
    z-index: 1000;
}

.SearchInputBG {
    position: absolute;
    z-index: 999;
    top: 149px;
    right: 14.7vw;
    border-radius: 20px;
}

input[type="text"] {
    font-size: 28px; /* Change this value to your desired font size */
}

.search-textbox input {
    border: none; 
    outline: none; 
    width: 320px; 
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: 100px;
    height: 100px;
}

#left-arrow {
    left: 20px;
}

#right-arrow {
    right: 20px;
}

/* Image display styling using CSS Grid */
.image-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 equal columns */
    gap: 20px; /* Space between the boxes */
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 50px;
    padding-top: 50px;
}

.image-box-wrapper {
    text-align: left;
    align-items: center;
    position: relative;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hidden {
    display: none;
}

.info {
    position: relative;
    justify-content: space-evenly;
    left: 0px;
    text-align: left;
    padding-left: 2.4vw;
    width: 100%;
    max-width: 100%;
    margin: 0;
    display: inline-block;
}

.info img {
    position: relative;
    left: 1px;
    border-radius: 10px;
}

.image-box {
    background-color: rgba(200, 200, 200, 0.8); /* Light grey with some transparency */
    border-radius: 15px;
    border: 1px solid black; 
    padding: 0;
    width: 100%;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    max-width: 250px;
    align-items: center;
    overflow: hidden;
    aspect-ratio: 1/1; /* Keeps image box square */
    cursor: pointer;
}

.image-box img {
    max-width: 100%;
    height: auto;
    object-fit: contain; /* Ensure image fits without being cropped or stretched */
    border-radius: 10px;
}

.image-box-wrapper p {
    margin-top: 0;
    color: #333;
}

.mon-name {
    font-size: 24px;
}

.type {
    max-width: 100px;
}

/* Media query for smaller screens */
@media (max-width: 1200px) {
    .image-container {
        grid-template-columns: repeat(3, 1fr); /* 3 columns on medium screens */
    }
}

@media (max-width: 800px) {
    .image-container {
        grid-template-columns: repeat(2, 1fr); /* 2 columns on smaller screens */
    }
}

@media (max-width: 500px) {
    .image-container {
        grid-template-columns: 1fr; /* 1 column on very small screens */
    }
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    transition: 2s ease-in-out;
    z-index: 1; /* Sit on top */
    top: calc(9vh - 10px);
    left: calc(15vw - 10px);
    width: 70vw;     
    height: auto;
    border-radius: 20px;
    border: 5px solid white; /* Outline of the image */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
    overflow: hidden; /* Hide scrollbars */
}

/* Modal Image Initial Style */
#modalImage {
    opacity: 0;
    transition: opacity 0.4s ease-in-out; /* Adjust duration as needed */
    margin-bottom: -20px;
}

#caption {
    visibility: hidden;
}

/* When modal is open */
.modal.show #modalImage {
    opacity: 1;
}

.modal-content {
    display: block;
    height: 100%;
    width: 100%; 
    height: auto; /* Maintain aspect ratio */
    margin: auto; /* Center the image */
}

.image-container-2 {
    /* Different styles for Model 2 if needed */
    padding-left: 10vw;
    padding-right: 10vw;
}

#modalButton1 {
    position: absolute;
    bottom: 0.8vh;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
    padding: 2px 5px;
    font-size: 0.8vw;
    background-color: #4735ab;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: none; /* Initially hidden */
}

#modalButton1:hover {
    background-color: #456fa0;
}

.playSoundImage {
    position: absolute;
    left: 1.9%;
    bottom: 28%;
    width: 4.5%;
    cursor: pointer;
    display: none; /* Initially hidden */
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.search {
    padding-top: 30px;
    overflow-x: hidden;
}